### Data Pre-processing Tutorial

We will be using House Prices: Advanced Regression Techniques dataset from kaggle.
Please download "train.csv" file from https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data .
You need to accept the rules of the competition to download the dataset.

In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import warnings
warnings.filterwarnings("ignore")

/usr/local/Cellar/python3/3.5.2_3/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
# Load dataset
data = pd.read_csv("train.csv")

In [3]:
# Let's see the first 10 rows of dataset
data.head(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
5,6,50,RL,85.0,14115,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,Shed,700,10,2009,WD,Normal,143000
6,7,20,RL,75.0,10084,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,307000
7,8,60,RL,NaN,10382,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,Shed,350,11,2009,WD,Normal,200000
8,9,50,RM,51.0,6120,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Abnorml,129900
9,10,190,RL,50.0,7420,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,1,2008,WD,Normal,118000

In [4]:
# Let's see the last 10 rows of dataset
data.tail(10)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
1450,1451,90,RL,60.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2009,WD,Normal,136000
1451,1452,20,RL,78.0,9262,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2009,New,Partial,287090
1452,1453,180,RM,35.0,3675,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2006,WD,Normal,145000
1453,1454,20,RL,90.0,17217,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,7,2006,WD,Abnorml,84500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

As you can see there are lot of missing values (NaN) in the dataset

Let's explore Alley column in the dataset.

In [5]:
# Check the number of missing values
data.Alley.isnull().sum()

1369

In [6]:
# Check the frequency of distinct values
data.Alley.value_counts()

Grvl    50
Pave    41
Name: Alley, dtype: int64

In [7]:
# Let's fill the missing values with Grvl
data.Alley.fillna(value = "Grvl", inplace = True)

In [8]:
# Check again the missing values
data.Alley.isnull().sum()

0

Now let's explore LotFrontage column.

In [9]:
# Check the number of missing values
data.LotFrontage.isnull().sum()

259

In [10]:
# Get the mean of the LotFrontage 
LotFrontage_mean = data.LotFrontage.mean()

In [11]:
# Fill missing values with mean of the column
data.LotFrontage.fillna(value = LotFrontage_mean, inplace = True)

In [12]:
# Check again the missing values
data.LotFrontage.isnull().sum()

0

Adding a new column with values from existing column

In [13]:
# Add new column by substracting values of 1st fllor area and 2nd floor area
data["new_column"] = data["1stFlrSF"] - data["2ndFlrSF"]

In [14]:
# Check the column values
data.new_column

0          2
1       1262
2         54
3        205
4         92
5        230
6       1694
7        124
8        270
9       1077
10      1040
11        40
12       912
13      1494
14      1253
15       854
16      1004
17      1296
18      1114
19      1339
20       -60
21      1108
22      1795
23      1060
24      1060
25      1600
26       900
27      1704
28      1600
29       520
        ...
1430    -370
1431     958
1432     968
1433     132
1434    1126
1435    1537
1436     864
1437    1932
1438    1236
1439     355
1440     675
1441     848
1442      45
1443     952
1444    1422
1445     913
1446    1188
1447     350
1448     246
1449     630
1450       0
1451    1578
1452    1072
1453    1140
1454    1221
1455     259
1456    2073
1457      36
1458    1078
1459    1256
Name: new_column, dtype: int64

Did you see something weird?

In [15]:
# Replace negative values with 0
data.new_column[data.new_column < 0] = 0

In [16]:
data.new_column

0          2
1       1262
2         54
3        205
4         92
5        230
6       1694
7        124
8        270
9       1077
10      1040
11        40
12       912
13      1494
14      1253
15       854
16      1004
17      1296
18      1114
19      1339
20         0
21      1108
22      1795
23      1060
24      1060
25      1600
26       900
27      1704
28      1600
29       520
        ...
1430       0
1431     958
1432     968
1433     132
1434    1126
1435    1537
1436     864
1437    1932
1438    1236
1439     355
1440     675
1441     848
1442      45
1443     952
1444    1422
1445     913
1446    1188
1447     350
1448     246
1449     630
1450       0
1451    1578
1452    1072
1453    1140
1454    1221
1455     259
1456    2073
1457      36
1458    1078
1459    1256
Name: new_column, dtype: int64

In [17]:
# Unique values in LotShape column
data.LotShape.unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

One-hot and label encoding

In [18]:
# Encoding Categorical data
labelencoder = LabelEncoder()
target_label = labelencoder.fit_transform(data.LotShape) 
target_label[0:30]

array([3, 3, 0, 0, 0, 0, 3, 0, 3, 3, 3, 0, 1, 0, 0, 3, 0, 3, 3, 3, 0, 3, 3,
       3, 0, 3, 3, 3, 0, 0])

In [19]:
# One hot encoding of LotShape

pd.get_dummies(data.LotShape,prefix=['LotShape'])

      ['LotShape']_IR1  ['LotShape']_IR2  ['LotShape']_IR3  ['LotShape']_Reg
0                    0                 0                 0                 1
1                    0                 0                 0                 1
2                    1                 0                 0                 0
3                    1                 0                 0                 0
4                    1                 0                 0                 0
5                    1                 0                 0                 0
6                    0                 0                 0                 1
7                    1                 0                 0                 0
8                    0                 0                 0                 1
9                    0                 0                 0                 1
10                   0                 0                 0                 1
11                   1                 0                 0                 0
12                   0                 1                 0                 0
13                   1                 0                 0                 0
14                   1                 0                 0                 0
15                   0                 0                 0                 1
16                   1                 0                 0                 0
17                   0                 0                 0                 1
18                   0                 0                 0                 1
19                   0                 0                 0                 1
20                   1                 0                 0                 0
21                   0                 0                 0                 1
22                   0                 0                 0                 1
23                   0                 0                 0                 1
24                   1                 0                 0                 0
25                   0                 0                 0                 1
26                   0                 0                 0                 1
27                   0                 0                 0                 1
28                   1                 0                 0                 0
29                   1                 0                 0                 0
...                ...               ...               ...               ...
1430                 0                 0                 1                 0
1431                 1                 0                 0                 0
1432                 0                 0                 0                 1
1433                 1                 0                 0                 0
1434                 0                 0                 0                 1
1435                 0                 0                 0                 1
1436                 0                 0                 0                 1
1437                 0                 0                 0                 1
1438                 0                 0                 0                 1
1439                 0                 0                 0                 1
1440                 1                 0                 0                 0
1441                 0                 0                 0                 1
1442                 0                 0                 0                 1
1443                 0                 0                 0                 1
1444                 0                 0                 0                 1
1445                 0                 0                 0                 1
1446                 1                 0                 0                 0
1447                 0                 0                 0                 1
1448                 0                 0                 0                 1
1449                 0                 0                 0                 1
1450                 0                 0                 0                 1
1451                 0                 0                 0                 1
1452                 0                 0                 0                 1
1453                 0                 0                 0                 1
1454                 0                 0                 0                 1
1455                 0                 0                 0                 1
1456                 0                 0                 0                 1
1457                 0                 0                 0                 1
1458                 0                 0                 0                 1
1459                 0                 0                 0                 1

[1460 rows x 4 columns]

Splitting dataset into train and test

In [20]:
# Split dataset into training and testing datasets
train, test = train_test_split(data, test_size = 0.4)

In [21]:
# Check the original dataset shape
data.shape

(1460, 82)

In [22]:
# Check the training dataset shape
train.shape

(876, 82)

In [23]:
# Check the test dataset shape
test.shape

(584, 82)

### Shuffling the dataset

In [24]:
# Shuffle the rows of dataset
data_shuffle = shuffle(data)

In [25]:
# Check first 5 rows of original dataset
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column
0,1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2008,WD,Normal,208500,2
1,2,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2007,WD,Normal,181500,1262
2,3,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,9,2008,WD,Normal,223500,54
3,4,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000,205
4,5,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,12,2008,WD,Normal,250000,92

In [26]:
# Check first 5 rows of shuffled dataset
data_shuffle.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column
205,206,20,RL,99.0,11851,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2009,WD,Normal,180500,1442
1092,1093,50,RL,60.0,8400,Pave,Grvl,Reg,Bnk,AllPub,...,NaN,NaN,NaN,0,6,2008,WD,Normal,136500,1086
542,543,20,RL,78.0,10140,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,6,2009,WD,Normal,213250,1680
103,104,20,RL,94.0,10402,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,NaN,0,5,2010,WD,Normal,198900,1226
1412,1413,90,RL,60.0,7200,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,NaN,0,6,2009,WD,Normal,90000,1040

### Normalizing the data

In [27]:
# Normalize SalePrice data
normalizing = StandardScaler()
data["SalePrice_normalized"] = normalizing.fit_transform(data.SalePrice.reshape(-1, 1))

In [28]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,new_column,SalePrice_normalized
0,1,60,RL,65.0,8450,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,0,2,2008,WD,Normal,208500,2,0.347273
1,2,20,RL,80.0,9600,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,NaN,0,5,2007,WD,Normal,181500,1262,0.007288
2,3,60,RL,68.0,11250,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,0,9,2008,WD,Normal,223500,54,0.536154
3,4,70,RL,60.0,9550,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,0,2,2006,WD,Abnorml,140000,205,-0.515281
4,5,60,RL,84.0,14260,Pave,Grvl,IR1,Lvl,AllPub,...,NaN,NaN,0,12,2008,WD,Normal,250000,92,0.869843

### Excercises

    1) Try filling the missing values of "FireplaceQu".
    2) Try filling the missing values of "GarageYrBlt" with mean.
    3) For continuous variables is it good always to fill with mean value of column??
    4) Filter the dataframe with only continuous variable columns.
    5) Split test dataset into testing and validation dataset.
    6) We shuffled the dataset row wise. Try shuffling the dataset column wise.
    7) Try One-hot encoding on YrSold, SaleType and SaleCondition columns